.item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgb(200, 200, 200);
    margin-bottom: 5px;
    padding: 0 2%;
    background-color: rgb(244, 244, 244);

}

.item__sku_name {
    display: block;
    margin: auto;
    width: 30%;
    font-size: 20px;
    z-index: 1;
}

.item__sku_color {
    font-size: 14px;
    width: 20%;
    margin: 0;
    z-index: 2;
}

.item__sku_img {
    width: 80px;
    height: fit-content;
    margin-right: auto;
}

.item__sku_price {
    width: 15%;

}

.addition {
    width: auto;
    height: auto;
    font-size: 12px;
    padding: 5px 10px;
    color: rgb(213, 53, 53);
    border-radius: 20px;
    border: solid 2px rgb(213, 53, 53);
    margin-left: auto;
}

.addition:hover {
    color: aliceblue;
    background-color: rgb(213, 53, 53);
}


@media (max-width: 620px) {

    .item__sku_name {
        font-size: 16px;
    }


    .addition {
        font-size: 10px;
    }
}