.card {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 2px 2px 6px rgb(200, 200, 200);
    margin-bottom: 30px;
    padding: 3%;
    background-color: rgb(244, 244, 244);

}

.card__sku_name {
    margin: 0;
    width: 100%;
    z-index: 1;
}

.card__sku_color {
    font-size: 14px;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.card__sku_img {
    width: 100%;
    margin: -10% auto;
}

.card__sku_price {
    width: auto;

}

.addition {
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
    color: rgb(213, 53, 53);
    border-radius: 20px;
    border: solid 2px rgb(213, 53, 53);
    margin-left: auto;
}

.addition:hover {
    color: aliceblue;
    background-color: rgb(213, 53, 53);
}



@media (max-width: 620px) {

    .card {
        width: 43%;
    }

}